manifest {
	description = 'pipeline for analysis of MRD data with umi in read'
	nextflowVersion = '20.10.0'
}

params {
	input = "${projectDir}/samplesheet.csv"
	sequences = "${projectDir}/sequences/"
	outdir = "/new_disk/RESEARCH_IDTMRD_20251028"
	smmips_adaptors = "${projectDir}/assets/adaptors.fa"
	genome = "${projectDir}/assets/hg19_all.fasta"
	genome_dir = new File(genome).parent
	ind_files = new File(genome).name
	bed_file = "${projectDir}/assets/AML_MRD_IDT_192_withoutCEBPA_sortd.bed"
	collapsed = "collaps"
	uncollapsed = "uncollaps"
	mutect2 = "mutect2"
	vardict = "vardict"
	varscan = "varscan"
	annovar_humandb = "${projectDir}/assets/humandb"
	gen_ref = "${projectDir}/assets/gene_fullxref.txt"
}

def humandb_real = new File(params.annovar_humandb).canonicalPath
def reffile_real = new File(params.gen_ref).canonicalPath
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${params.outdir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.outdir}/execution_report_${trace_timestamp}.html"
	overwrite = true
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_trace_${trace_timestamp}.txt"
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
dag {
	enabled = true
	file    = "${params.outdir}/pipeline_dag_${trace_timestamp}.html"
}

profiles {
	docker {
		docker.enabled = true
		docker.runOptions       = '-u $(id -u):$(id -g)'
	}
}

process {
	resourceLimits = [ 
		memory: 500.GB,
		cpus: 150,
		time: 30.d
	]

	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 12.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 32     * task.attempt }
		memory = { 64.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 64    * task.attempt }
		memory = { 72.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_long {
		time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}

	withName: /(ADD_UMI|ZIPPERBAM|GROUPREADSBYUMI|CALLMOLCONSREADS|FILTERCONSBAM)/ {
		container = 'quay.io/biocontainers/fgbio:3.0.0--hdfd78af_0'
	}

	withName:BAMTOFASTQ {
		container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
	}

	withName:PREPROCESS {
		container = 'amatsus/fastq-mcf:1.04.807'
	}

	withName: /(MAPBAM|SORT_INDEX|SORT_INDEX_CONS|COMBINEBAMS|MAPBAM_CONS|MPILEUP)/ {
		container = 'dukegcb/bwa-samtools:latest'
	}

	withName: /(SPLITBAM|COMBINEBAMS|MPILEUP)/ {
		container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
	}

	withName: /(ADDGROUPS|HSMETRICS|MUTECT2|DICT_GEN)/ {
		container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
	}

	withName:COVERAGE {
		container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
	}

	withName:VARDICT {
		container = 'quay.io/biocontainers/vardict-java:1.8.3--hdfd78af_0'
	}

	withName:VARSCAN {
		container = 'quay.io/biocontainers/varscan:2.4.4--0'
	}

	withName:ANNOVAR {
		container = 'bioinfochrustrasbourg/annovar:2018Apr16'
		containerOptions = "-v ${humandb_real}:/databases/humandb -v ${reffile_real}:/databases/gene_fullxref.txt"
	}

	withName:COMBINE_CALLERS {
		container = 'jupyter/scipy-notebook:x86_64-ubuntu-22.04'
	}
}

executor {
	name = 'local'
	queueSize = 30
}
